<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Quiz</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f6f7dc;
    "
  >
    <div
      class="start-box"
      style="
        background-color: #52f52a;
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding: 20px 40px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      "
      onmouseover="this.style.backgroundColor='#3cbf1f'"
      onmouseout="this.style.backgroundColor='#52f52a'"
      onclick="window.location.href='/quiz-start'">
    >
      Start <span th:text="'(' + ${lessonType} + ')'">Loading...</span>
    </div>
    <script th:src="@{/js/progress.js}" defer></script>
  </body>
</html>
